streamlit_tags
flask
airtable
pyairtable
openai==0.28
urllib3
streamlit
pycountry
pandas
numpy
matplotlib
seaborn
reportlab
PyPDF2
apify-client
langchain_community
langchain_openai
langchain_core
langchain
langchain-chroma
transformers
chromadb